 


.navbar-brand{
    font-size: 40px;font-weight: 900;cursor: pointer;
}
#navbarNavAltMarkup{
     font-weight: bolder;  margin-left: 45%;
}
.navbar-brand:hover{
    color: chartreuse;
}
.hidNav{
    margin-left: 30%;
   display: none;
}
.hidNav a:hover{
    color: #000;
}
@media (max-width:600px) {
    .navbar-brand{
        font-size: 30px ;
    }
    .navbar:hover .hidNav{
       display: block;
    }
}