<header class="container-fluid"> 

  <nav class="navbar row text-center "  >
    <span class="navbar-brand brand col-md-6 col-xl-3"  routerLink ="">PROJECTS</span>
    <div class="row col-xl-9 col-md-9 text-center">
      <span class="nav-item nav-link  col-md-4 ms-4 " routerLink = "html-css" >HTML5 & CSS3 </span>
      <span class="nav-item nav-link col-md-4 "routerLink = "js">JAVASCRIPT</span>
      <span class="nav-item nav-link  col-md-4 " routerLink = "angular">ANGULAR</span>
      
    </div>
  </nav>

 </header>
  <body>
    <router-outlet></router-outlet>
  </body>

 