<header class="container-fluid"> 

  <nav class="navbar row text-center "  >
    <span class="navbar-brand brand col-md-6 col-xl-3"  routerLink ="">PROJECTS</span>
    <div class="row col-xl-9 col-md-9  ">
      <span class="nav-item nav-link  col-md-6 ms-3 text-right" routerLink = "html-css" >HTML5 & CSS3 </span>
      <span class="nav-item nav-link col-md-2  "routerLink = "js">JAVASCRIPT</span>
      <span class="nav-item nav-link  col-md-2  " routerLink = "angular">ANGULAR</span>
      <span class="nav-item nav-link  col-md-2 text-left" routerLink = "nodejs">NODE JS</span>
      
    </div>
  </nav>

 </header>
  <body>
    <router-outlet></router-outlet>
  </body>

 